package-lock.json
.eslintcache

node_modules
.env
coverage
coverage.json
typechain
typechain-types

#Hardhat files
cache
artifacts
/build
/dist
/contracts-exposed

.vscode
revenue-sharing-addresses.json
deploy-collector.input.json
