/.github
/.husky
/contracts
/scripts
/typechain-types
/test
/utils
/tsconfig.json
/tsconfig.build.json
/index.ts
/hardhat.config.ts
/.commitlintrc.ts
/.eslintignore
/.eslintrc.cjs
/.npmignore
/.prettierignore
/.prettierrc
/.solhint.json
/.solhintignore
!dist
!artifacts
